

h1{
    font-family: verdana;
    color:gray;
}

body {
    background-color: black;
    font-family: arial;
    color: white;
}

.maindiv {
    background-color: white;
    color:black;
    width: 640px;
    padding: 20px;
    border-radius: 25px;
    align-items: center;
    margin: 0 auto;
}

.secondarydiv {
    margin-left: 100px;
}